repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Updated to match ruff version in pyproject.toml
    rev: v0.5.5
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/pre-commit-hooks
    # Bumped to a recent version
    rev: v4.6.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
